body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "ZCOOL KuaiLe", sans-serif;
  background-image: url(feiye.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.beijing img {
  width: 100%;
  height: auto;
}

.yemei {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 127, 244);
  color: #ffea2d;
  font-style: italic;
  font-size: 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
}

.dabiaoti,
.yinyuefuhao,
section {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

#biaoti2 {
  color: blueviolet;
  font-family: "Poetsen One", sans-serif;
  background-color: rgb(255, 127, 244);
  font-size: 80px;
  padding: 50px;
}

h2 {
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-weight: 400;
}

svg {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#part1 {
  font-size: 50px;
}
#part1-zhengwen {
  font-size: 20px;
}
#part2 {
  font-size: 50px;
}
#part2-zhengwen {
  font-size: 20px;
}
#part3 {
  font-size: 50px;
}
.diyibufen {
  padding-top: 200px;
}
.dierbufen {
  padding-bottom: 350px;
  padding-top: 350px;
}

/* 添加白色背景 */
.img-container {
  background-color: rgb(245, 212, 175);
  padding: 20px;
  text-align: center;
}

/* 设置图片宽度和间距 */
.img-container img {
  width: calc(
    16.666% - 20px
  ); /* 一行六张图片，每张图片占据 16.666% 的宽度，并留出 20px 的间距 */
  margin: 10px; /* 设置图片之间的间距 */
}
/* 媒体查询：最大宽度600px时，调整样式以适应手机 */
@media (max-width: 600px) {
  body {
    font-size: 12px;
    padding: 0px;
  }

  .yemei {
    font-size: 8px;
  }

  #biaoti2 {
    font-size: 40px;
    padding: 20px;
  }

  #part1,
  #part2,
  #part3 {
    font-size: 30px;
  }

  #part1-zhengwen,
  #part2-zhengwen {
    font-size: 16px;
  }
  #myVideo {
    padding-top: 100px;
    width: 500px;
  }
  .img-container img {
    width: calc(40% - 10px); /* 在小屏幕上每行两张图片 */
  }
}
